@model IEnumerable<Cinema>

<!-- Filter Section -->
<section class="py-3 filter-bar">
    <div class="container">
        <div class="row" style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
            <div class="col-12">
                <form method="get">
                    <div class="row">
                        <!-- Cinema Dropdown -->
                        <div class="col-md-2">
                            <select name="CinemaId" class="form-control">
                                <option value="">--Select Cinema--</option>
                                @foreach (var item in ViewBag.Cinemas)
                                {
                                    if (ViewBag.CinemaId != null && ViewBag.CinemaId == item.Id)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <!-- Submit Button -->
                        <div class="col-md-2 my-2">
                            <button type="submit" class="btn btn-dark w-100">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
 @if (User.IsInRole(SD.Super_Admin_Role) || User.IsInRole(SD.Admin_Role))
                            {
<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">All Cinemas</h2>
        </div>

        @if (User.IsInRole(SD.Super_Admin_Role) || User.IsInRole(SD.Admin_Role) || User.IsInRole(SD.Employee_Role))
        {
            <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
                <a href="/Admin/Cinema/Create" class="btn btn-success">Create</a>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.Id</th>
                            <td>@item.Name</td>
                            <td>
                                @if (item.Status)
                                {
                                    <span class="badge text-bg-success">Active</span>
                                }
                                else
                                {
                                    <span class="badge text-bg-danger">Inactive</span>
                                }
                            </td>

                            @if (User.IsInRole(SD.Super_Admin_Role) || User.IsInRole(SD.Admin_Role))
                            {
                                <td>
                                    <a href="/Admin/Cinema/Edit/@item.Id" class="btn btn-warning">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                </td>
                            }
                            else
                            {
                                <td>No Action</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 15rem;">
                <img src="~/Images/Cinema_Images/@item.Img" class="card-img-top" alt="@item.Name" height="270PX  />

                <div class="card-body">
                    <p><span class="badge text-bg-primary">Cinema Name</span> @item.Name</p>

                    <p>
                        <span class="badge text-bg-primary">Status</span>
                        @if (item.Status)
                        {
                            <span class="badge text-bg-success">Active</span>
                        }
                        else
                        {
                            <span class="badge text-bg-danger">Inactive</span>
                        }
                    </p>

                    <p><span class="badge text-bg-secondary">@item.Description</span></p>
                </div>
            </div>
        }
        </div>
    
</div>

<!-- Pagination -->
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if (ViewBag.currentPage > 1 && ViewBag.currentPage <= ViewBag.totalNumberOfPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Admin/Cinema/Index?page=@(ViewBag.currentPage - 1)&CinemaName=@ViewBag.CinemaName&CinemaId=@ViewBag.CinemaId">Previous</a>
                    </li>
                }

                @for (var i = 1; i <= ViewBag.totalNumberOfPages; i++)
                {
                    <li class="page-item @(i == ViewBag.currentPage ? "active" : "")">
                        <a class="page-link" href="/Admin/Cinema/Index?page=@i&CinemaName=@ViewBag.CinemaName&CinemaId=@ViewBag.CinemaId">@i</a>
                    </li>
                }

                @if (ViewBag.currentPage < ViewBag.totalNumberOfPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Admin/Cinema/Index?page=@(ViewBag.currentPage + 1)&CinemaName=@ViewBag.CinemaName&CinemaId=@ViewBag.CinemaId">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".btn-delete");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function (e) {
                e.preventDefault();

                const url = this.getAttribute("href");

                Swal.fire({
                    title: "Are you sure?",
                    text: "This action cannot be undone!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                          title: "Deleted!",
                          text: "Your file has been deleted.",
                          icon: "success"
                        });

                        window.location.href = url;
                    }
                });
            });
        });
    });
</script>
