<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Add new Movie</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input class="form-control" name="name">
                </div>
                <div class="mb-3">
                    <label for="MainImg" class="form-label">Img</label>
                    <input type="file" class="form-control" name="Img">
                </div>
                <div class="mb-3">
                    <label for="SubImgs" class="form-label">Sub Imgs</label>
                    <input type="file" class="form-control" name="SubImgs" multiple>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a description here" style="height: 100px" name="description"></textarea>
                        <label for="description">You Description Here...</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="Price" class="form-label">Ticket Price</label>
                    <input type="number" class="form-control" name="Price">
                </div>
                <div class="mb-3">
                    <label for="Discount" class="form-label">Discount</label>
                    <input type="number" class="form-control" name="Discount">
                </div>
                <div class="mb-3">
                    <label for="Quantity" class="form-label">Quantity</label>
                    <input type="number" class="form-control" name="Quantity">
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select name="status" class="form-select">
                        <option value="true">Active</option>
                        <option value="false">InActive</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Actors</label>
                    <select name="ActorIds" class="form-select" multiple>
                        @foreach (var actor in ViewBag.Actors)
                        {
                            <option value="@actor.Id">@actor.Name</option>
                        }
                    </select>
                    <small class="text-muted">choose Actor</small>
                </div>
                <div class="mb-3">
                    <label for="CategoryId" class="form-label">Category</label>
                    <select name="CategoryId" class="form-select">
                        @foreach (var item in ViewBag.Categories)
                        {
                            @if (ViewBag.CategoryId == item.Id)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="CinemaId" class="form-label">Cinema</label>
                    <select name="CinemaId" class="form-select">
                        @foreach (var item in ViewBag.Cinemas)
                        {
                            @if (ViewBag.CinemaId == item.Id)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
